@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffc4ef;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: .5s;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar li a:hover:not(.active) {
  color: #0ff;
}

.active {
  background-color: rgba(255, 161, 238, 0.596);
  border-radius: 30px;
  transition: 5s;
}

table {
  background-color: rgba(255, 161, 238, 0.596);
  position: absolute;
  font-size: 25px;%;
  top: 20%;
  left: 13%;
  border: #ffffff;
}