@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #b85b9f;
  color: #ffffff;
}

.header {

  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.navbar ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: .5s;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar li a:hover:not(.active) {
  color: rgba(255, 161, 238, 0.596);
}

.active {
  background-color: rgba(255, 161, 238, 0.596);
  border-radius: 30px;
  transition: 5s;
}

.heading {
  position: absolute;
  top: 22%;
  left: 30%;
  font-size: 30px;
}

.quote {
  position: absolute;
  top: 45%;
  left: 50%;
  justify-content: space-between;
}

.quote1 {
  font-size: 25px;
}

.quote2 {
  font-size: 18px;
  text-align: right;
}

.home-content {
  position: absolute;
  justify-content: space-between;
  top: 63%;
  left: 50%;
  max-width: 475px;
}

.image1 {
  position: absolute;
  width: 350px;
  height: 430px;
  float: left;
  top: 40%;
  left: 12%;
}

.home-content2 {
  position: absolute;
  justify-content: space-between;
  top: 140%;
  left: 13%;
  max-width: 475px;
}

.head-home-content2 {
  font-size: 30px;
  text-align: center;
}

.head2-home-content2 {
  list-style-type: circle
}

.image2 {
  position: absolute;
  width: 375px;
  height: 430px;
  float: right;
  right: 12%;
  top: 135%;

}

footer {
  position: absolute;
  top: 220%;
  right: 5%;
  margin-bottom: 5%;
}

.foot {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.foot a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}

.HZ-logo img{
  background: transparent;
  display: flex;
  position: absolute;
  top: 100%;
  padding-bottom: 40%;
  right: 1100px;
  max-width: 120px;
  max-height: 120px;
}

.container {
  width: 100%;
  height: 505px;
  position: relative;
  overflow: hidden;
}

video {
  max-width: 25%;
  position: relative;
  float: left;
  top: 30px;
  left: 130px;
}

.characteristics {
  max-width: 200px;
  position: absolute;
  top: 25%;
  left: 60%;
  font-size: 20px;

}

table {
  position: absolute;
  font-size: 15px;
  top: 16%;
  right: 10%;
  bottom: 15%;
  left: 10%;
  border: 5px solid #ffafef;
}

.exam {
  width: 30%;
}

.check-box {
  display: block;
  position: relative;
  cursor: pointer;
  bottom: 0px;
  left: 13px;
}

details {
  border: #ffffff;
  padding-bottom: 20px;
  border-color: #ffafef;
}

.faq {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 20px;
  
}

.answers {
  max-width: 70%;
  font-size: 15px;
}

.blogposts {
  display: flex;
  justify-content: space-between;
  padding: 20px 8% 0;
}

.post {
  max-width: 200px;
  margin-top: 15%;
  border: 5px solid #ffafef;
  padding: 10px;
}